node_modules
.next
.dist
dist
**/dist
.DS_Store
.env
.env.*
!.env.example
coverage
*.log

# Prisma
**/prisma/migrations/migration_lock.toml
**/prisma/migrations/**/migration_lock.toml
**/node_modules/.prisma
.vercel
.env*.local
